* { 
	font-family: 'Roboto', sans-serif;
	font-size:20px;
}

h1{
	font-size: 3rem;
}
#uppercase{
	text-transform: uppercase;
}
.learn{
	background-color: skyblue;
}
li[tools] {
	border-width: 2px;
	border-style: solid;
	border-color:black;
}
h4 + img + ul {
	list-style-type: none; 
}
section img {
	height: 100px;
	width: 100px;
	border-radius: 150px;
}
section > ul {
		letter-spacing: 5px;
}
ul	~ p {
	text-align: center;
}

#external {
	color: yellow;
}

